*{
    font-family: 'Roboto';
}


body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}


header{
    background-color:#fff;
    border-bottom: 0.5px solid #ccc;
}

.filter-container{
    padding: 0.5%;
    border: 1px solid #ccc;
}

.filter-container .col-3{
    padding: 0.3%;
}

.itens_select{
    border: 0px  #ccc;
}

#tipo, #marca{
    align-items: center;
    background-color: rgba(0,0,0,0);
    border-color: rgb(190, 116, 162);
    border-style: none;
    box-sizing: content-box;
    color: rgb(190, 116, 162);
    cursor: pointer;
    display: inline;
    font: normal;
    font-size: 15pt;
    height: auto;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    text-decoration: none;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 3em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}


.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
}

.btn-primary{
    color: black;
    background-color: rgb(190, 116, 162);
    border: 1px solid #cccc;
}

.btn-primary:hover{
    color: black;
    background-color: rgb(190, 116, 162);
    border: 1px solid rgb(190, 116, 162);
}

.container .btn-prod{
    text-align: center;
    padding: 10px;
    width: 80%;
    height: 8vh;
}

div .desc{
    padding: 10px;
    margin: 10%;
    margin-top: 0%;
}

#navbar img{
width: 80%;
height: 10vh ;
margin-left: 5%;
}

#navbar{
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
}

#navbar a{
    font-size: 14pt;
    color: black;
}

#navbar a:hover{
    font-size: 14pt;
    color: rgb(190, 116, 162);
}

#prod-container{
    padding: 30px;
}

#prod-container h2{
    margin-bottom: 10px;
}

#cards-container{
    display: flex;
}

#prod-container .card{
    text-align: center;
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
    border: none;
    background-color:whitesmoke;
}

#prod-container img{
    max-height: 150px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
}

.msgAdmin{
    background-color:rgb(160, 160, 218);
    text-align:center;
    width: 25%;
    padding: 3px;
    border-radius: 3px;
}

.offset-md-9 h5{
    background-color: rgb(160, 160, 218);
    text-align: center;
    width: 20%;
    padding: 3px;
    border-radius: 3px;
}

.desc{
    margin-left: 20px;
}

.card .card-date{
    font-size: 10pt;
    color: black; ;
}

.card .card-title{
    color: black;
    font-size: 10pt;
    margin-bottom: 10px;
}


#image-container img{
    border-radius: 10px;
}

#tarefas-create-container{
    margin-top: 5px;
    border: 1px solid #cccc;
    padding: 10px;
}

.nav-filtro{
    color: black;
    font-size: 12pt;
}

/*Estilo botões de comprar*/

.btn-prod{
    width: 150px;
}

/*Estilo botões de comprar*/

/* Estilo imagem do edit*/

.img-preview{
    width: 150px;
    margin-top: 10px;
}

.table{
    border: 1px solid #cccc;
}

.col-4{
    padding: 1%;
}

/* Estilo imagem do edit*/

/*Estilo do footer*/
footer{
    text-align: center;
    background-color: rgb(190, 116, 162);
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
   margin-bottom:0;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.575);
}

.cont{
    border: 1px solid;
    margin: 2px;
}
